.left-section{
    background: $whiteColor;
    width: 25vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    .left-navbar{
        position: relative;
        top: -50px;
        div img{
            width: 100px;
        }
        .left-menu{
            margin-top: 2rem;

            ul li{
                margin-top: 1rem;
                
                a{
                    font-size: 1rem;
                    letter-spacing: 1.2px;
                    color: $secondaryColor;
                    cursor: pointer;
                }
            }
        }
    }
    footer p {
        width: 60%;
        margin: 0 auto;
        letter-spacing: 1.2px;
        font-size: 0.85rem;
        color: $secondaryColor;
        padding-top:0.65rem ;
        span{
            color: $lightSecondaryColor;
        }
    }
}