.left-section{
    background: $whiteColor;
    width: 20vw;
    z-index: 99999;
    border-right: 1px solid $lightSecondaryColor;
    overflow-y: hidden;
    
    .left-navbar{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        top: 25%;
        div img{
            width: 80px;
        }
        .left-menu{
            margin-top: 1.5rem;

            ul li{
                margin-top: 1rem;
                
                a{
                    font-size: clamp(0.75rem, 1.5vw, 0.9rem);
                    letter-spacing: 1.2px;
                    color: $secondaryColor;
                    cursor: pointer;
                    &:hover{
                        color: $blackColor;
                    }
                }
            }
        }
        footer p {
            width: 80%;
            margin: 0 auto;
            letter-spacing: 1.2px;
            font-size: 0.85rem;
            color: $secondaryColor;
            padding-top:2rem;
            line-height: 1.5;
            span{
                color: $lightSecondaryColor;
            }
        }
    }
}

// Media query for left section
@media (max-width:1100px){
    .left-section{
        position: fixed;
        right: -500px;
        height: 100%;
        border: none;
        width: 200px;
        transition: 0.3s right ease-in-out;
        .left-navbar{
            position: relative;
            top: 20%;
        }
        // footer p{
        //     position: relative;
        //     top: 50%;
        // } 
    }
    .left-section.open{
        right: 0;
    }
}