.about{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%; 
    top: 0;
    left: 0px;
    right: 0;
    bottom: 0;
    background: $greyColor;
    opacity: 0; 
    visibility: hidden;  
    transition: 0.2s all ease-in-out;

    h2{
        padding: 2rem 0 0 2rem;
        font-size:clamp(1.3rem, 4vw, 1.9rem);
    }

    .about-section{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        width: 100%;
        
        .kamlesh-picture{
            width: 40%;
        }
        .kamlesh-about{
            width: 60%;
            padding: 0 2rem;
            h3.about-kamlesh-heading{
                color: $blackColor;
                font-size: clamp(0.9rem, 2vw, 1.2rem);
                margin-left: 0;
            }
            p{
                letter-spacing: 1px;
                line-height: 1.5;
                font-family: $secondaryFontFamily;
                color: $secondaryColor;
                font-size: clamp(0.80rem, 2vw, 1rem);
            }
            div {
                margin-top: 1.5rem;
                span a{
                    padding: 0.5rem 0.85rem;
                    border: 2px solid $blackColor;
                    background-color: $blackColor;
                    color: $whiteColor;
                    margin-top: 1.5rem;

                    &:hover{
                        color: $blackColor;
                        background-color: $greyColor;
                    }
                }
            }
        }
    }
}
.about.show{
    opacity: 1;
    visibility: visible;
}
// media query for 940px
@media (max-width:940px){
    .about .about-section{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        .kamlesh-about{
            width: 80%;
            padding: 0;
        }
    }
}