.right-section{
    width: 80vw;
    position: relative;
    background-color: $greyColor;
    overflow-y: hidden;

    .right-section-logo{
      width: 100%;
      background: $whiteColor;
      z-index: 10000;
      display: none;
      img{
        width: 40px;
        margin: 0.3rem;
      }
    }

    section .home-section{
        display: flex;
        overflow-y: hidden;
        justify-content: space-evenly;
        align-items: center;
        height: 100%;
        width: 100%;
        background-color: $greyColor;
        position: absolute;
        top: 0;
        left: 0px;
        right: 0;
        bottom: 0;
        opacity: 0;
        transition: 0.4s all ease-in-out;

        .home-animation-img svg{
            height: 230px;
            margin-top: 3rem;
        }
        .home-header{
            margin-left: 1rem;
            margin-bottom: 2rem;

            h2{
                letter-spacing: 1.2px;
                font-size:clamp(1.3rem, 4vw, 1.9rem);
                line-height: 1.5;
            }
            h3{
                letter-spacing: 1px;
                font-style:italic;
                font-size: clamp(0.9rem, 2vw, 1.1rem);
                margin-top: 2rem;
                color: $secondaryColor;
                font-family: $secondaryFontFamily;
                font-weight: 500;
                line-height: 1.5;
            }
            ul{
                display: flex;
                justify-content: space-around;
                width: 60%;
                margin: 2rem auto;

                li a i{
                    font-size: 2rem;
                    color: $blackColor;
                    cursor:pointer;
                    &:hover{
                    transform: scale(1.05);
                }
                }
            }
        }
    }
}
// styling to show home section on click of home link.
section .home-section.show{
    opacity: 1;
    visibility: visible;
}

// hamburger button styling for small screen 
.right-section .hamburger-menu{
    position: fixed;
    top: 13px;
    right: 20px;
    z-index: 999999;
    display: none;
    cursor: pointer;

    .line1,
    .line2,
    .line3{
      width: 35px;
      height: 4px;
      background-color: $blackColor;
      margin: 6px 0;
      position: relative;
      transition: all 0.2s ease-in-out; 
    }
}
// on click hamburger menu transform in to close button
.right-section .hamburger-menu.visible{
    .line2{
      opacity: 0;
    }
    .line1{
      transform: rotate(45deg) translate(9px, 5px);
    }
    .line3{
      transform: rotate(-45deg) translate(10px, -5px);  
  }
}

// media query for small screen
// media query for 1100px
@media (max-width:1100px){
    .right-section{
      width: 100%;

      .right-section-logo{
        display: block;
      }

      section .home-section .home-header{
        width: 60%;
      }
    }
    .right-section .hamburger-menu{
      display: block;
    }
}

// media query for 940px
@media (max-width:940px){
   .right-section section .home-section{
     display: flex;
     flex-direction: column-reverse;

     .home-animation-img svg{
          height: 200px;
      }

     .home-header{
       text-align: center;
       width: 60%;
       margin-top: 0;

       ul{
         width: 70%;
         li{
           margin: 0 0.5rem;
         }
       }
     }
   }
}



// animation for svg on home page ,
//  code reference get from codepen @m-abdelwahab
#coding {
  margin: 0 auto;
  display: flex;
  align-items: center;
    justify-content: center; 
}
#left, #right{
  animation: typing 0.2s cubic-bezier(.18,.85,.72,.22) infinite alternate;
  transform-origin: center;
  transform-box: fill-box;
}

@keyframes typing {
  0% {
    transform: rotateZ(-10deg);
  }
  100% {
    transform: rotateZ(10deg);
  }
}
@keyframes move-head {
 0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(5px);
  }
}
#head {
  animation: move-head 1s cubic-bezier(.41,.16,.24,.71) infinite alternate;
  transform-origin: center;
  transform-box: fill-box;
}