.skills{
    position: absolute;
    width: 100%;
    height: 100%; 
    top: 0;
    left: 0px;
    right: 0;
    bottom: 0;
    background: $greyColor;
    opacity: 0;
    transition: 0.4s all ease-in-out;
    visibility: hidden;
    overflow-y: scroll;

    h2{
        margin: 4rem 0 2rem 2rem;
        font-size:clamp(1.3rem, 4vw, 1.9rem);
    }
    .skills-section{
        .skills-list{
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            padding: 2rem;
            li{
                margin: 1.5rem 2rem;
                text-align: center;
                span i{
                    font-size: clamp(3rem , 8vw, 4rem);
                }
            }
        }
        h2{
            margin: 2rem 0 0rem 2rem;
        }
    }
}
// show skills section on click
.skills.show{
    opacity: 1;
    visibility: visible;
}

// media query start styling
// media query for 800px
@media (max-width:799px){
    .skills{
        .skills-section{
            .skills-list{
                padding: 1rem;
                li{
                    margin: 1rem 1.5rem;
                }
            }
        }
    }
}
