// color
$whiteColor : #fff;
$greyColor: #f8f8f8;
$blackColor: #000;
$secondaryColor:#767676;
$lightSecondaryColor:#999999;


// font family
$primaryFontFamily: 'Montserrat', sans-serif;
$secondaryFontFamily:'Mulish', sans-serif;